* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.info-container {
    position: absolute;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.left {
    top: 10px;
    left: 10px;
}

.center {
    top: 10px;
    right: 200px;
}

.right {
    top: 10px;
    right: 10px;
}

.grid {
    display: grid;
    cursor: url('field/img/cursor.png'), auto;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.cell {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
}

.cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cell.hidden img {
    display: none;
}
